.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 385px;
  gap: 32px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  flex-shrink: 0;
  vertical-align: middle;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
