.nav {
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__links {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.nav__group {
  display: flex;
  gap: 20px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}
