.recipes {
  position: relative;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 24px 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 80px 0;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.recipes__video-item {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.recipes__iframe {
  width: 100%;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
